#outerbox{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    
background: linear-gradient(90deg, #d53369 0%, #daae51 100%);

}
div>div{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 150px;
    background-color:#eadcd1e1;
    border-radius: 20px;
    border: 3px solid black;
    width: 500px;
    height:150px;
}
label,p{
    font-size: 20px;
}
input{
    border: 2px solid black;
    width: 150px;
    height: 20px;
    
}


button {
    width: 220px;
    font-size: 20px;
    color: rgb(243, 5, 5);
    background-color:  #c98462;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#258699;
}


